@CHARSET "UTF-8";
.daterangepicker td.off{
	display:table-cell;
}
.dateTimeImage{
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #F1F1F1;
    padding: 3px 4px 3px 3px;
    margin-right: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.dateTimeInput
{
	width:250px;
}

.dateTimeInput input{
	border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


body {
    background: #f9f9f9;
}

.uif-viewHeader {
    padding: 0px;
}

.uif-applicationHeader {
    background-color: #3C8DBC;
}

.uif-applicationHeader .navbar {
    background-color: #3C8DBC;
}

.uif-applicationHeader .navbar .nav li.active a {
    background: #337CA7;
}

.nav .open>a, .nav .open>a:hover,
.nav .open>a:focus{
	background-color:#337CA7;
}

.uif-applicationHeader .navbar a:hover,
.uif-applicationHeader .navbar a:focus{
	background:#337CA7;
}

headr .row{
	margin-right: -7.5px; 
}


.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.uif-applicationHeader .navbar div.logoBrand {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 0;
    margin-left: -7px;
}

#Uif-Navigation .nav.nav-list>.active>a {
    background: none repeat scroll 0 0 #3C8dbc;
}

#Uif-Navigation .nav.nav-list>li>a:hover,
#Uif-Navigation .nav.nav-list>li>a:focus{
	background: none repeat scroll 0 0 #3C8dbc!important;
}

.nav-list>li .submenu>li.active>a {
    background: none repeat scroll 0 0 #fff!important;
    color: black!important;
    border-right: 1px solid #ccc!important;
    margin-right:0px!important;
}

.uif-menuNavigationGroup:before {
    box-shadow:none;
}

#Uif-Navigation .nav.nav-list li .submenu li a:hover,
#Uif-Navigation .nav.nav-list li .submenu li a:focus{
	color:black!important;
	text-decoration: none;
}

.nav-list>li .submenu .submenu>li>a {
    padding: 7px 0 8px 55px;
}

.nav-list>li .submenu>li>a .icon-angle-right,
.nav-list>li .submenu>li>a .icon-angle-down{
	margin-left: 105px;
}

.nav-list>li .submenu .submenu{
    overflow: hidden; 
    display: none;
}

#Uif-Navigation .nav.nav-list .active .submenu .active a {
    margin-right:0px; 
    border-right: 1px solid #ccc!important;
}

.row{
	margin-right:0px;
}
.uif-tableCollectionLayout td.uif-collection-column-action{
	text-align:left;
}
.uif-tableCollectionLayout td.uif-collection-column-action > div{
	margin-left:25px;
}
/* .uif-collection-column-action .uif-horizontalFieldGroup[data-label="Actions"]{
	float:none;
} */
.uif-collection-column-action .uif-horizontalFieldGroup[data-label="Actions"] button,
.uif-collection-column-action .uif-horizontalFieldGroup[data-label="Actions"] img{
	margin:0px;
	float: none;
}

#PortalHeader .dropdown-menu{
    width: 240px;
   padding: 0;
}

#PortalHeader .dropdown-menu li{
    text-align: center;
    list-style: none;
}

#PortalHeader .dropdown-menu .userInfoPic{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px auto 10px;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.2);
}

#PortalHeader ul.nav > li:nth-child(4) > ul > li:nth-child(1),
#PortalHeader ul.nav > li:nth-child(4) > ul > li:nth-child(2){
   background-color:#3c8dbc;
}

#PortalHeader .dropdown-menu .userInfoMeg{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0 20px;
}

#PortalHeader .dropdown-menu .userInfoBtn{
    box-shadow: none;
    float: left;
    margin: 10px 20px;
    border-radius:0;
}


#PortalHeader ul.nav > li:nth-child(3) > ul {
    padding: 0 5px 20px 0;
}


#PortalHeader .dropdown-menu .mainMenuLink{
    width: 50%;
    float: left;
    margin:15px 0;
}

#PortalHeader .dropdown-menu .mainMenuLink a{
    font-size: 2em;
}

#PortalHeader .dropdown-menu .mainMenuLink a:hover{
    background-color: #fff;
    text-decoration: none;
}

.text-yellow a{
	color:#f39c12 !important
}

.text-blue a{
	color:#00c0ef !important
}

.text-red a{
	color:#dd4b39 !important
}

.text-green a{
	color:#00a65a !important
}

#PortalHeader .dropdown-menu .mainMenuMeg{
    position: absolute;
}

.text11{
    top:50px;
    left: 20px;
}

.text12{
    top:50px;
    left: 149px;
}

.text21{
    top:120px;
    left: 26px;
}

.text22{
    top:120px;
    left: 143px;
}

#PortalHeader .toolbar{
	display:none!important;
}

body{
    background-color: #ecf0f5;
}

[data-parent*="page"]{
    margin-right: 15px;
}



/* #CetApplyHeader{
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
}

#CetApplyHeader [class*="icon-"]{
    float: left;
    padding-top: 4px;
}

#CetApplyHeader .headerTitle{
    margin-left: 5px;
}
 */
.pageHeaderBox{
    font-size: 24px;
    font-weight: 500;
    margin: 5px 10px;
}

.pageHeaderBox [class*="icon-"]{
    float: left;
    padding-top: 4px;
}

.pageHeaderBox .headerTitle{
    margin-left: 5px;
}
.pageContentBox{
	padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#MyGroup table td{
    border:none;
}

#MyGroup table tr:nth-child(1) td:nth-child(1){
    border-right: 1px solid #000;
}

#MyGroup table tr:nth-child(2) td:nth-child(1){
   text-align: center;
   padding: 0 0 20px 0;
}

#MyGroup .table-bordered{
    border:none;
    margin-bottom: 0px;
}

#CetApplyContent .CETInfo{
    margin: 20px 20px;
}

#CetApplyContent .CETinfoList{
    margin-bottom: 10px;
}

#CetApplyContent .CETinfoList div:nth-child(1){
    font-weight: 700;
}

#CetApplyContent .CETinfoList div, 
#CetApplyContent .CETinfoList div select{
    font-size: 15px;
}

#CetApplyContent .CETinfoList div select{
    margin-bottom: 2px;
}

.CETinfoList .CETinfoSelect{
    margin-top: -3px;
}
/* #CetApplyPageDialog .modal-body{
	margin-left: 10px;
    font-size: 14px;
}
#CetApplyPageDialog .modal-body li{
    margin-left: 10px;
    font-size: 14px;
    list-style-type: disc;
}	
#CetApplyPageDialog header button{
	display:none !important;
} */
#InfoBeforeCetApplyPage .pageContentBox{
	font-size:14px;
}
#InfoBeforeCetApplyPage .pageContentBox li{
    margin-left: 10px;
    list-style-type: disc;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-info {
    border-top:3px solid #00c0ef;
}
.box.box-success {
    border-top:3px solid #00a65a;
}
.box-header{
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header > *{
    display: inline-block;

    margin: 0;
    line-height: 1;
    float: none;
}
.box-header > .boxheaderTitle,
.box-header > [class*="icon-"]{
  font-size: 18px;
}  
.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#Calendar{
    float: none;
    margin:0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    margin-right: 0;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn-primary:hover, 
.btn-primary:active,
.btn-primary.active, 
.btn-primary:focus{
	color: #fff;
    border-color: #204d74;
    background-color: #367fa9;
}



.btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.userInfoMeg div{
    float: none!important;
}

.CETCard{
    padding: 0;
    border:1px solid #000;
}

#cardHeader{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    float: none!important;
    border-bottom: 1px solid #000;
}

#cardContent{
    border-bottom: 1px solid #000;
}

/* #photoBox{
    margin: 0;
    padding: 10px;
    width: 33.3333%;
} */
#photo{
    margin: 0 auto;
    width: 45%;
    float: none!important;
}
/* #warnBox{
    margin: 0;
    padding: 15px;
    width: 66.6667%;
} */

#warnInfo{
    font-size: 18px;
    font-weight: 600;
}

#warnInfo span{
    color: red;
}

#warnNoPhoto{
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
}

#ShowExamplePhotoBtn{
    margin: 7px;
}
 
/*#cardButton{
    margin:10px 20px;
}
#cardButton .uif-messageField{
    font-weight: 700;
    margin:5px 10px;
}*/

#nophotoBox{
   margin-top:20%;
}
#nophoto{
    font-size: 26px;
    color: red;
    font-weight: 600;
    text-align: center;
    float: none!important;
}

/* #confirmApplyCet4Dialog .modal-content,
#errWarnDialog .modal-content {
     width:500px;
     height: 200px;
} */
#applicantEditConfirmationDialog_line0 .modal-dialog,
#applicantDeleteConfirmationDialog_line0 .modal-dialog,
#confirmApplyCet4Dialog .modal-dialog,
.errWarnDialog .modal-dialog,
#UpdateApplicantDialog .modal-dialog{
    width:500px;
    height: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}

#Uif-Dialogs header{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#Uif-Dialogs .modal-footer{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#errWarnDialog header button,
#UpdateExmStudentDialog header button,
#UpdateApplicantDialog header button,
.showPhotoDialog header button.close{
   margin-top: -10px;
}

#Uif-Dialogs .errWarnDialog .modal-body{
    font-size: 18px;
    color: red;
}

#Uif-Dialogs #errWarnDialog .modal-body{
    font-size: 18px;
    color: red;
}

#showPhotoDialog .modal-dialog {
    width: 380px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 40%;
}
#showPhotoDialog .modal-content{
     width: 380px;
     height: 500px;
}

#uploadPhotoDialog .modal-dialog{
    margin-top: 200px;
}

.warnInfo{
    font-size: 13px;
    font-weight: 700;
}
.warnInfo span{
    color: red;
}
.warnBox{
    margin-top: 10px;
}

/* dialog样式  */
.ui-widget-overlay{
    opacity: 0.5;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.error_warn{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border:none;
    padding: 0;
    border-radius: 6px;
}

.error_warn .ui-dialog-titlebar{
    color:#fff;
    height: 45px;
    line-height: 30px;
    border:none;
    background-color: #3c8dbc;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.error_warn .ui-widget-content{
    border:none;
}
.error_warn .ui-dialog-buttonpane{
    margin: 0px;
    padding: 0px 5px;
    border-top: 1px solid #ddd;
}
.error_warn .ui-dialog-buttonset button{
    padding: 6px 14px;
    color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
    background-color: #3c8dbc;
}

.error_warn .ui-dialog-buttonset button:hover,
.error_warn .ui-dialog-buttonset button:active,
.error_warn .ui-dialog-buttonset button:focus{
    color: #fff;
    border-color: #204d74;
    background-color: #367fa9;
}
.warnDialog{
  margin-top: 10px;
}


/*面包屑*/
/* #Uif-BreadcrumbWrapper {
    background: none;
    border: none;
    height: 0;
    font-size: 12px;
}

#Uif-BreadcrumbWrapper .uif-breadcrumbs{
    padding: 8px 15px;
    margin-bottom: 15px;
    list-style: none;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    margin-top: 12px;
}
#Uif-BreadcrumbWrapper .uif-breadcrumbs>li+li:before {
    content: ">\00a0";
    padding: 0 5px;
    color: #ccc;
}
#Uif-BreadcrumbWrapper .uif-breadcrumbs>li {
    display: inline-block;
    background: none;
    float: none;
    padding: 0;
}

#Uif-BreadcrumbWrapper .uif-breadcrumbs>li a{
    float: none;
    padding: 0;
}
#Uif-BreadcrumbWrapper .uif-breadcrumbs>li>a:hover {
    text-decoration: none;
}
#Uif-BreadcrumbWrapper .uif-breadcrumbs>li>span {
     padding: 0; 
     float: none;
    color: #000; 
}
#Uif-BreadcrumbWrapper .uif-breadcrumbs>li:last-child>span {
    font-weight: normal;
    color:#777;
}
#Uif-BreadcrumbWrapper .icon-home:before {
    padding-right: 5px;
}
@media (max-width: 991px){
    #Uif-BreadcrumbWrapper .uif-breadcrumbs{
    position: absolute;
    right: 20px;
    margin-top: 12px;
	}
    #CetApplyContent{
        margin-top: 40px;
    }
    #PortalNavigation .sidebar-collapse:before{
    	content:"smallScreen";
    	display:none;
    }
} */



#UpdateApplicantDialog .CETinfoList{
    margin-bottom: 10px;
}

#UpdateApplicantDialog .CETinfoList div:nth-child(1){
    font-weight: 700;
    margin: 5px 8px 5px 5px;
}

#UpdateApplicantDialog .CETinfoList div, 
#UpdateApplicantDialog .CETinfoList div select{
    font-size: 15px;
}

#UpdateApplicantDialog .CETinfoList div select{
    margin-bottom: 2px;
}

#UpdateApplicantDialog .CETinfoList .CETinfoSelect{
    margin-top: -3px;
}

.dataTables_length{
    float:left;
}
.dataTables_length select {
    width: auto;
}

.dataTables_info {
  width: auto;
  float: left;
  margin-bottom: 10px;
  margin-right:10px;
}

#UpdateExmStudentDialog .modal-dialog{
    width:500px;
    height: 480px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -250px;
}

.confirmDialog .uif-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.confirmDialog .modal-footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.confirmDialog .modal-body{
    color: red;
    font-size: 18px;
}

.form-control {
    border-radius: 0px !important;
    box-shadow: none;
    border-color: #d2d6de;
}

.tab-pane > section >header{
	display:none!important;
}

.nav-tabs>li {
    margin-bottom: -1px;
    border-top: 3px solid transparent;
}

.nav-tabs>li.active{
	border-top-color: #3c8dbc;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
	border-top-color: transparent;
	border-left-color:#ddd;
	border-right:1px solid #ddd;
}

.nav-tabs>li:first-of-type.active > a {
    border-left-color: transparent;
}

.nav-tabs>li>a {
   color:#555;
   margin-right: 0px;
   border-radius: 0px; 
}

.nav>li>a:hover, .nav>li>a:focus {
	color:#999;
    background-color: #fff;
    border-color:transparent transparent #ddd;
}

.tab-content {
    margin: 15px;
}

.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.bg-teal {
    background-color: #39cccc !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-success {
    background-color: #00a65a !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}

.btn[class*='bg-']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    border-color:transparent;
}
.box-tools {
    margin-left: 5px;
    margin-bottom:0px;
}
.box-tools > div{
    margin-bottom:0px;
}
.form-control:focus {
    border-color: #3c8dbc !important;
    box-shadow: none;
}
#PortalView .DTTT_container{
	visibility:hidden;
}

.box-body .uif-sectionHeader{
	display:none;
}

.box-header + div > .uif-sectionHeader{
	display:none;
}
.box-header + div.uif-tableCollectionSection{
	padding:10px;
}
.box-body >.uif-boxLayoutHorizontalItem.uif-tableCollectionSection{
    margin-right: 0;
}
#pageApplicantInfo .box-body .uif-boxLayoutHorizontalItem{
	margin-right: 0;
}

.rightGroup{
	float: right!important;
}
#InvigilatorApplicantPage table tr td:nth-child(1){
	width:30%;
}

#InvigilatorApplicantPage table select{
	margin:0 auto;
}

#InvigilatorApplicantPage table td{
	vertical-align:middle;
	text-align:center;
}

.box-headerBtn{
	padding:5px 10px;
}
.box-headerBtn > .boxheaderTitle{
	margin-top:6px;
}

.box-body > .uif-tableCollectionSection.uif-boxLayoutHorizontalItem{
	float:none;
}

#searchInvigilatorDialog .modal-content{
    width: 670px;
}

.boxInTab-header{
	border-bottom: 1px solid #00a65a;
}

#Cet4Config tr td:nth-child(1)
#Cet6Config tr td:nth-child(1){
	width:80%;
}

#InvigilatorManagementTable div[data-label="Actions"] {
	margin-left:8px;
}

#InvigilatorManagementTable div[data-label="Actions"] input{
	margin-right:0px;
}
/* .disabledInput > input{
	cursor: not-allowed;
    background-color: #eee;
    pointer-events: none;
    opacity: 1;
} */

#ChargeStandard select.input-sm {
    margin: 0 auto;
}

#ApplicantInfoPageContent .box{
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 105%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.headerMessage{
	color: white;
    margin-top: 14px;
}