@CHARSET "UTF-8";

.navbar-brand {
    height:0px!important;
    padding: 0px 0px!important;
}

/*居中block*/
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
}


.box-btngroup{
    float: right;
    margin-right: 20px;
}
.box-btngroup > button {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    width: 80px;
    height: 30px;
}

